
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url('../../../assets/images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
    /* background-color: #0c243c; */
  }
  .sub-header {
    height: 80px;
    width: 100%;
    background-color: #0c243c;
    position: fixed;
    z-index: 9;
    }
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    width: 150px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-box h1 {
    font-size: 42px;
  }
  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  nav .fa-bars,nav .fa-xmark{
    display: none;
  }
   @media(max-width:700px){
    .text-box h1{
      font-size: 20px; 
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa-bars,nav .fa-xmark{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links {
      display: none;
    }
    .nav-links.show-mobile-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      background: #f44336;
      height: 80vh;
      width: 100%;
      top: 50px;
      left: 0;
    }
    .nav-links.show-mobile-menu li {
      margin: 10px 0;
    }
    .fa-bars{
      color: white;
    }
    .fa-xmark{
      color: white;
      margin: 5px 0 0 10px;
    }
  }  
  