
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.card {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    max-width:80%; 
}
.table-scroll {
    overflow-x: auto; /* Add horizontal scrollbar when needed */
    max-height: 100%; /* Allow the table to expand vertically */
  }
li.p-ripple.p-element.p-multiselect-item {
    margin-left: 30px;
  }
.mb-3 p-multiselect.coursedropdown .p-multiSelect {
    width: 550px !important;
    margin-left: 40px;
}
button.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link {
    margin: 3px;
}
.p-multiSelect.coursedropdown .p-multiSelect .p-multiSelect-label {
    width: 400px;
}
.p-multiselect.p-component {
    width: 400px;
}
.p-multiselect-filter-icon {
    position: absolute;
    top: 27%;
    margin-top:0px;
  }
  ul.p-multiselect-items.p-component.ng-star-inserted {
    margin-left: -30px;
}
.p-multiselect-filter-container.ng-star-inserted {
    margin-left: 5px;
}
.p-multiselect-panel.p-component.ng-star-inserted {
    padding: 7px;
}
span.ng-star-inserted {
    margin-left: 10px;
}
.ng-trigger.ng-trigger-animation.ng-tns-c647991600-0.p-dialog.p-dynamic-dialog.p-component.ng-star-inserted {
    max-width: 40%;
    height: 55%;
}
span#pn_id_2_header_title {
    margin: 28px;
    color:#f44336;
}
.ng-tns-c640837940-3.ng-trigger.ng-trigger-messageState.p-toast-message-success.p-toast-message {
    position: absolute;
    right: 143%;
    width: 100%;
    margin-top: 85%;
    padding: 20px;
}
table#pn_id_10-table {
    width: 120%;
    max-width: 120%;
}