<section class="blog">
    <div class="body">
          <div *ngIf="selectedBlog" class="list-group">
          <h4>{{selectedBlog.heading}}</h4>
          <p>{{selectedBlog.para}}</p><hr>
          <h4>{{selectedBlog.heading1}}</h4>
          <p>{{selectedBlog.para1}}</p><hr>
          <h4>{{selectedBlog.heading2}}</h4>
          <p>{{selectedBlog.para2}}</p><hr>
          <h4>{{selectedBlog.heading3}}</h4>
          <p>{{selectedBlog.para3}}</p><hr>
          <h4>{{selectedBlog.heading4}}</h4>
          <p>{{selectedBlog.para4}}</p>
        </div>
    </div>
</section>
