.row {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
  }
  .blog-content {
    width: 100%;
    margin: auto;
    padding: 50px 0;
    background-color: #072f5f;
  }
  .blog-left {
    flex-basis: 55%;
  }
  .blog-left video {
    width: 100%;
  }
  .blog-left h2 {
    color: #fff;
    font-weight: 600;
    margin: 30px 0;
    font-size: 26px;
  }
  .blog-left p {
    color: #fff;
    padding: 0;
    text-align: justify;
  }
  .blog-right {
    flex-basis: 32%;
  }
  .blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 8px;
    box-sizing: border-box;
  }
  .comment-box {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px 30px;
  }
  .comment-box h3 {
    text-align: left;
  }
  .comment-form input,.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
  }
  .comment-form button {
    margin: 10px 0;
  }
  .blog-right a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
  }
  @media(max-width:500px){
    .blog-left {
      flex-basis: 100%;
      margin-top: 75px;
    }
    .blog-right {
      flex-basis: 100%;
    }
  }
  @media(max-width:700px){
    .row{
      flex-direction: column;
    }
  }
  