<div class="data">
    <div class="mb-3">
       <span> <p-multiSelect class="coursedropdown" formControlName="courses"  [options]="courses" optionLabel="name" ></p-multiSelect></span><!--(onChange)="updateSelectedCourses($event.value)"-->
       <!-- <span class="result">Results:{{filteredDataLength?.length ?  filteredDataLength.length: formData.length}}</span>[options]="courses" -->
    </div>
    <div class="card">
      <div class="table-scroll">
       <p-table   [scrollable]="true" [style]="{'width': '900px'}"><!--[value]="formData | filter: selectedCourses" -->
        <ng-template pTemplate="header">
            <tr>
              <!--(click)="sortDataAlphabetically(true)"-->  <th>First Name<i class="fa-solid fa-arrow-up" ></i><i class="fa-solid fa-arrow-down"></i></th><!-- (click)="sortDataAlphabetically(false)"-->
                <th>Last Name</th>
                <th>Std Id</th>
                <th>Std Email</th>
                <th> Ph No</th>
                <th> Gender</th>
                <th> Courses</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-formValue>
            <tr>
                <td>{{ formValue.fname }}</td>
                <td>{{ formValue.lname }}</td>
                <td>{{ formValue.std }}</td>
                <td>{{ formValue.std_email }}</td>
                <td>{{ formValue.ph_no }}</td>
                <td>{{ formValue.gender }}</td>
                <td >
                <ul>
                    <li  *ngFor="let course of formValue.courses">{{ course.name }}</li>
                </ul>
                </td>
                <td  [style]="{'width':'10%'}">
                    <!-- <i class="fa-solid fa-pencil" disabled="formValue.editing"  (click)="editItem(formValue)"></i> -->
                    <!-- <i class="fa-solid fa-xmark" (click)="removeItem(formValue)" ></i> -->
                 </td>
            </tr>
        </ng-template>
       </p-table>
      </div>
    </div>
</div> 

