ul {
    list-style-type: none;
    padding: 0;
}
.mb-3{
    padding-top: 30px;
}
table{
    border-radius: 20px;
}
th,td{
  padding: 15px;
}
span{
    margin-left: 9.7%;
}
.result{
    color: white;
    margin: 15px;
}

.fa-pencil,.fa-xmark{
    padding: 10px;
    cursor: pointer;
}
.data{
    background-color: #0c243c;
}
.fa-arrow-up{
    padding: 10px 0 10px 10px;
    cursor: pointer;
}
.fa-arrow-down{
  cursor: pointer;
}
