.course {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #0c243c;
  }
  h1 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  .row {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
  }
  .course-col {
    flex-basis: 31%;
    background: #243f56;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    // margin: 10px 0;
    color: #fff;
    font-weight: 500;
  }
  .course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  .cta a {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    color: #fff;
  }
  @media(max-width:700px){
    .row{
      flex-direction: column;
    }
  }