.row {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  h3 {
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    color: #fff;
    font-size: 20px;
  }
  .testimonials {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #0c243c;
  }
  .testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 5%;
    text-align: justify;
    background: #243f56;
    padding: 25px;
    cursor: pointer;
    display: flex;
    opacity: 0.7;
    transition: 0.5s;
  }
  .testimonial-col:hover {
    transform: scale(1.2);
    opacity: 1;
  }
  .testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }
  .testimonial-col p {
    padding: 0;
  }
  .testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
  }
  .fa-solid , .fa-regular{
    color: #f44336;
  }
  
  @media(max-width:700px){
    .testimonial-col img{
      margin-left: 0px;
      margin-right: 15px;
    }
    .row{
      flex-direction: column;
    }
  
  }
  
  