@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #f44336;
  background: #f44336;
  padding: 12px 24px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 10%;
}
.row {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.course {
  text-align: center;
  padding-top: 100px;
  background-color: #072f5f;
}
body {
  background: #072f5f;
}
.course-col {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  background: #243f56;
  margin-bottom: 2%;
  padding: 20px 12px;
  box-sizing: border-box;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
  width: 100%;
}
strong{
  text-align: center;
  font-weight: 600;
  margin: 10px 12px;
  color: #fff;
  font-size: 20px;
}
.course-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  text-align: center;
}
.course-heading h1 {
  margin-left: 27%;
  font-size: 24px; 
  flex: 1; 
  text-align: center;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  margin-right: 307px;
  background: transparent;
  color: #ccc;
}
i.fa-magnifying-glass {
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
  margin-left:220px;
  position: absolute; 
}
.white-heart {
  color: white;
  cursor: pointer;
  background-color: #295d8b;
  padding: 5px;
  border-radius: 5px;
}
.red-heart{
  color:red;
  font-weight: 800;
  cursor: pointer;
  background-color: pink;
  padding: 5px;
  border-radius: 5px;
}
// .fa-regular.fa-heart.red-heart {
//   color: red;
//   font-weight: 800;
//   cursor: pointer;
//   background-color: pink;
//   padding: 5px;
//   border-radius: 5px;
// }
.fa-regular{
  cursor: pointer;
}
::ng-deep .p-paginator {
  background-color: transparent;
  margin: 20px;
}
h1 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin-left: 450px;
}
@media screen and (max-width: 768px) {
  .course-heading {
    flex-direction: column;
  }
  .course-heading h1{
    margin-left: 0%;
  }
   input[type="text"] {
    margin: auto;
    width: 30%;
  }
  i.fa-magnifying-glass {
    margin-left:160px;
    margin-top: -24px;
  } 
}
@media screen and (max-width: 425px){
  input[type="text"] {
    margin: auto;
    width: 45%;
  }
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}
