.campus {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #072f5f;
  }
  .row {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  .campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    padding: 0%;
  }
  .campus-col img {
    width: 100%;
    display: block;
  }
  .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover {
    background: #243f56e3;
  }
  .layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }
  .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
  }
  @media(max-width:700px){
    .row{
      flex-direction: column;
    }
  }