.signup {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #072f5f;
  }
  .card{
      width: 400px;
      border-radius:0%;
      height: 480px;
      margin-left: 30%;
      margin-right: 50%;
      background-color: #243f56;
      color: #fff;
      text-align: justify;
      padding-top: 20px ; 
  }
  h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 20px ;
  }
  .input-field{
    background-color: #eaeaea;
    margin: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input{
    width: 90%;
    background: transparent;
    border: 0;
    outline:0;
    padding: 18px;
  }
  i{
    margin-left: 15px;
    color: #999;
  }
  form p{
    margin: 0px 103px 5px 103px;
    text-align: left;
    font-size: 13px;
  }
  form p a {
    margin: 0 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
  }
  .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-field button{
    margin: 10px 137px 10px 137px;
    flex-basis: 40%;
    background-color: rgba(255, 60, 0, 0.897);
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
  }
  .btn-field button.disabled{
       background: #eaeaea;
       color: #555;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 74px;
    position: absolute;
    /* bottom: -20px;  */
  }
  nav .fa-bars,nav .fa-xmark{
    display: none;
  }
  @media(max-width:500px){
    .card{
      margin: auto;
    }
  }